body {
   background-color: #eee;
   font-family: Arial, Helvetica, sans-serif;
}
h1 {
   color: blue;
}

section {
   width: 80%;
   max-width: 60rem;
   margin: 2rem auto;
   border: 2px solid #999;
   display: flex;
}

.container_table,
.container_form {
   height: 17rem;
   padding: 1rem 1rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   overflow: hidden;
}

.container_table {
   width: 70%;
   border-right: 1px solid #999;
}
.container_form {
   width: 30%;
}

.table {
   min-width: 35rem;
   height: 5rem;
   border-collapse: collapse;
   overflow: auto;
}

.table,
.form {
   border: 1px solid #999;
   padding: 1rem 0.3rem;
}

.table thead tr {
   background-color: rgb(190, 234, 237);
   text-align: center;
}

.table th,
.table td {
   padding: 0.5rem 1rem;
}

.table td:last-of-type,
.table td:nth-last-of-type(2) {
   width: 3.4rem;
   padding: 0 0;
}

.table tbody tr {
   border: 1px solid #ccc;
}
.table tbody tr:nth-of-type(even) {
   background-color: #f3f3f3;
}

.form div {
   margin-bottom: 0.5rem;
}

button[type="submit"] {
   padding: 0.4rem 1.3rem;
}
